version: "3.8"
services:
    web:
        image: nginx:1.19.2-alpine
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./src:/var/www/html
            - ./default.conf:/etc/nginx/conf.d/default.conf
        links:
            - php
    php:
        image: php:7.4-fpm-alpine
        volumes:
            - ./src:/var/www/html
        links:
            - mongo
        environment:
            
        
    mongo:
        image: mongo
        restart: always
        ports:
            - 27017:27017
        environment:
            MONGO_INITDB_ROOT_USERNAME: mmsm-frandine-root
            MONGO_INITDB_ROOT_PASSWORD: frandine-master
    
    mongo-express:
        image: mongo-express
        restart: always
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: mmsm-frandine-root
            ME_CONFIG_MONGODB_ADMINPASSWORD: frandine-master