version: "3.8"
services:
    web:
        image: nginx:1.19.2-alpine
        restart: unless-stopped
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./src:/var/www/html
            - ./images/dev/config/default.conf:/etc/nginx/conf.d/default.conf
        links:
            - php
    php:
        build:
            context: images/dev/php
        restart: unless-stopped
        volumes:
            - ./src:/var/www/html
        links:
            - mongo
        environment:
            MONGO_URI: mongodb://FranDineReadWrite:ReadWritePassword@mongo
            JWK_URI: https://mmsm.eu.auth0.com/.well-known/jwks.json
    mongo:
        image: mongo
        restart: unless-stopped
        ports:
            - 27017:27017
        volumes:
            - ./data/mongo:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: mmsm-frandine-root
            MONGO_INITDB_ROOT_PASSWORD: frandine-master
    mongo-express:
        image: mongo-express
        restart: unless-stopped
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: mmsm-frandine-root
            ME_CONFIG_MONGODB_ADMINPASSWORD: frandine-master
